body {
  font-family: sans-serif;
}

body div {
  margin: 10px 0 0;
  width: 800px;
}

.box {
  padding: 10px;
  margin: 20px 0 0;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}
